<%= provide(:title,"Your Listings")%>

<div class="row">
    <div class="col-2">
        <%= link_to "Your Listings", listings_path, class: "btn btn-outline-primary mr-3 w-100" %>
        <button type="button" class="btn btn-outline-primary mr-3 w-100 my-3">Your Reservations</button>
        <button type="button" class="btn btn-outline-primary mr-3 w-100">Your Trips</button>
    </div>

    <div class="col-10">
        <div class="row">
            <div class="col-6">
                 <h2>Your Listings</h2>
            </div>
            <div class="offset-3">
                <%= link_to raw("Add a new Listings <i class='fa fa-pen'></i>") , new_listing_path ,class: "btn btn-primary" %>
            </div>
        </div><hr>
        <div class="row">

        </div>
    </div>

</div>


    
