<p>No image uploaded !!</p>

<p>Hosted by </p>
<p>Reviews :</p>

<%= link_to raw("<i class='fas fa-edit'></i> Edit"), listing_listing_path(@listing), class: "btn btn-outline-primary mr-3" %>
<%= link_to raw("<i class='fas fa-trash-alt'></i> Delete <i class='fas fa-poo fa-rotate-90'></i>"), listing_path(@listing),method: :delete,data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger mr-3" %>

<hr>

<p>Details Host-Information Gallery Reviews</p>
<p>Description</p>
<p>House Type:   Condominium Room Type:   Entire</p>
<hr>

<p>Details</p>

<hr>

<p>Facilities & Amenities</p>

<hr>

<p>Location</p>

